<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}
{% compress js %}
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}" style="padding-top: 0px; background-color: #A60000;">

<style>
    a {
        color: black;
    }
</style>

<div style="background-color: #A60000; padding: 20px 5px;">

<div class="container" style="border-radius: 3px; background-color: white;">

{% if page.title == 'Etusivu' %}
    <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
{% endif %}

<div>
    {% nevercache %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endnevercache %}

    <style>
        .page-header a:hover {
            text-decoration: none;
        }
    </style>
    <div class="page-header">
        <a href="/">
            <h1 style="border-radius: 3px; min-height: 150px; background-size: 100% 100%; background-image: url('{% static "img/top.jpg" %}'); color: #FFFFFF; letter-spacing: 2px; padding-left: 30px; padding-top: 46px;">
                {% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }}{% endif %}
                <small>{% if settings.SITE_TAGLINE %}{{ settings.SITE_TAGLINE }}{% endif %}</small>
            </h1>
        </a>
    </div>
</div>

<div class="container" style="padding-left: 0px; padding-right: 30px;">
    <div class="row">
        <div class="col-md-2 left">
            {% block left_panel %}
            <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
            {% nevercache %}
            {% include "includes/user_panel.html" %}
            {% endnevercache %}
            {% block right_panel %}
            {% ifinstalled mezzanine.twitter %}
            {% include "twitter/tweets.html" %}
            {% endifinstalled %}
            {% endblock %}
            {% endblock %}
            <div style="text-align: center;">
                <a href="http://www.rokuageopark.fi" target="_blank"><img title="Rokua Geopark" src="http://www.rokuageopark.fi/images/logo_geopark_rokua_finland.png" alt="" height="93" width="81" /></a>
                <a href="http://www.luontoon.fi/Retkikohteet/kansallispuistot/rokua/Sivut/Default.aspx" target="_blank"><img style="display: inline;" title="Luontoon.fi" src="http://www.luontoon.fi/SiteCollectionImages/Tunnukset/Rokua_tunnus%20113x89pxl.png" alt="" height="89" width="113" /></a>
            </div>
        </div>

        <div class="col-md-10 middle">
            {% block main %}{% endblock %}
        </div>
    </div>
</div>

<footer style="padding: 0px;">
    <div class="container">
        <div class="row">
            <p class="site-info text-center">
                {% trans "Powered by" %}
                <a href="https://github.com/jaywink/cartridge-reservable">Cartridge-Reservable</a>
            </p>
        </div>
    </div>
</footer>

{% include "includes/footer_scripts.html" %}
</div>
</div>
<!-- Hide product sorting form -->
<script type="text/javascript">
    $(document).ready(function(){
        $('.product-sorting').hide();
    });
</script>
</body>
</html>
